<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>kotlin-dev</id>
            <username>${env.BINTRAY_USER}</username>
            <password>${env.BINTRAY_API_KEY}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>cache-redirector</id>
            <pluginRepositories>
                <pluginRepository>
                    <id>MavenCentral-JBCached</id>
                    <url>https://cache-redirector.jetbrains.com/maven-central</url>
                </pluginRepository>
            </pluginRepositories>
            <repositories>
                <repository>
                    <id>MavenCentral-JBCached</id>
                    <url>https://cache-redirector.jetbrains.com/maven-central</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <mirrors>
        <mirror>
            <id>MavenCentral-JBCached</id>
            <url>https://cache-redirector.jetbrains.com/maven-central</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
    </mirrors>
    <activeProfiles>
        <activeProfile>cache-redirector</activeProfile>
    </activeProfiles>
</settings>
